[submodule "bolson"]
        path = bolson
        url = git@github.com:rocketgithub/bolson.git
        branch = 14.0
[submodule "l10n_gt_extra"]
        path = l10n_gt_extra
        url = git@github.com:rocketgithub/l10n_gt_extra.git
        branch = 13.0
[submodule "conciliacion_bancaria"]
        path = conciliacion_bancaria
        url = git@github.com:rocketgithub/conciliacion_bancaria.git
        branch = 14.0
[submodule "losvolcanes"]
        path = losvolcanes
        url = git@github.com:rocketgithub/losvolcanes.git
        branch = losvolcanes-16.0
[submodule "inmobiliaria"]
        path = inmobiliaria
        url = git@github.com:rocketgithub/inmobiliaria.git
        branch = 15.0
[submodule "hr_expense_invoice"]
        path = hr_expense_invoice
        url = git@github.com:aquih/hr_expense_invoice.git
        branch = 16.0
[submodule "fel_infile"]
	path = fel_infile
	url = git@github.com:aquih/fel_infile.git
	branch = 13.0
[submodule "fel_gt"]
	path = fel_gt
	url = git@github.com:aquih/fel_gt.git
	branch = 13.0
